<?xml version="1.0" encoding="utf-8"?>
<!--
  AndroidManifest customizado para o app Go.
  O gomobile mescla este manifest no APK final.
  O "package" aqui define o application ID do app no dispositivo.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.deivid22srk.goandroidapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="Go Android App"
        android:debuggable="true">
        <activity
            android:name="org.golang.app.GoNativeActivity"
            android:exported="true"
            android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
